.app-header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header-item {
  width: 40vw;
  text-align: center;
}

.app-header-item-right {
  text-align: right;
  width: 30vw;
  padding-right: 3vw;
}

.app-header-item-left {
  text-align: left;
  width: 30vw;
  padding-left: 3vw;
}

.app-header-icon-button {
  font-size: 35px;
}
