table.calendar-wrapper {
  width: 100vw;
}

.month-indicator {
  position: absolute;
  display: inline-block;
  left: 0;
}

tr.calendar-day-name-of-the-week {
  height: 50px;
}

td.calendar-date-cell {
  max-width: 14vw;
  width: 14vw;
  height: 70px;
  vertical-align: top;
}

.calendar-money {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;

  font-size: 10px;
  width: 100%;
  position: relative;
  top: 25px;
}

.calendar-income {
  color: red;
}

.calendar-expenditure {
  color: blue;
}
