.login-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-page {
  text-align: center;
}

.login-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input-form .login-input-box {
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login-input-form .login-input-button {
  margin-top: 40px;
}

.anchor-button {
  cursor: pointer;
}
